#root {
	/* padding: 2rem; */
	text-align: center;
}

body {
	margin: 0;
}
/* HEADER */

.headerLogo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.headerLogo img {
	width: 46px;
}
.headerLogo h1 {
	height: fit-content;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.toolBar {
	gap: 20px;
}

header a,
.home-main > div > a {
	padding: 7px 14px 7px 14px !important;
}

.push {
	margin-left: auto !important;
}

.headerUserImage {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

/* FOOTER */

.footer {
	text-align: center;
	padding-bottom: 10;
	background: #1976d2;
	justify-items: center;
}

.footer a {
	color: white;
	/* line-height: 3.5; */
	margin-top: 16px;
	margin-right: 30px;
}

.footer .p1 {
	margin-left: 30px;
}

/* LOGIN */

.auth-container {
	width: 400px;
	display: flex;
	justify-content: center;
	border: 2px solid gray;
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 20vh;
	margin-bottom: 20vh;
}

/* HOME */

.home-main {
	width: 60vw;
	height: 110vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 20vw;
	padding-top: 20vh;
}

.home-main p {
	width: 720px;
}

/* CHARACTER SHEET CARDS */

.container {
	margin-top: 5rem;
	height: 90vh;
}

.container > ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.container > ul > li {
	padding: 8px;
	border: whitesmoke solid 2px;
	border-radius: 5px;
	width: 90px;
	height: 100px;
}

.container > hr {
	margin-bottom: 50px;
}

.container > p {
	width: 720px;
	margin: auto;
}

.newCharSheet {
	font-size: 3em;
	line-height: 1.7;
}

.CSButton {
	text-decoration: none;
	color: white;
}

.cardList > li:hover {
	transform: scale(1.2);
}

.cardListTitle {
	text-align: left;
	padding-left: 40px;
	font-size: 1.17em;
}

/* CHARACTER SHEET */

.sheet {
	background: white;
	color: black;
	max-width: 816px;
	height: 1056px;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 34px;
	margin-top: 6rem;
	margin-bottom: 4rem;
}

form .optionsBar {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 64px;
	left: auto;
	right: 0;
	width: vw;
	background: #12579c;
	box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
		0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
	padding: 5px 25px 5px 25px;
	display: flex;
	flex-direction: row;
	gap: 5px;
}

/* CS HEADER */
.csHeader {
	width: 753px;
	height: 72px;
	display: flex;
	justify-content: space-between;
	font-variant: small-caps;
	border-radius: 5px;
}

.name-box {
	width: 259px;
	height: 69px;
	border: solid black 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
}

.name-box input {
	align-self: center;
	width: 220px;
	height: 26px;
	font-size: x-large;
	border-radius: 5px;
}

.name-box label {
	align-self: start;
	line-height: 0.5;
	padding-left: 16px;
}

.char-info {
	width: 367px;
	height: 69px;
	border: solid black 2px;
	border-radius: 5px;
}

.char-info ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	padding: 0;
	margin: 2px 3px 2px 3px;
	gap: 3px;
	justify-content: center;
}

.char-info li {
	display: flex;
	flex-direction: column;
}

.char-info input {
	width: 110px;
	height: 16px;
	border-radius: 5px;
}

.char-info label {
	height: 10px;
	font-size: 12px;
	align-self: start;
	line-height: 0.5;
}

/* CS PAGE ONE MAIN */

.csPageOneMain {
	margin-top: 11px;
	height: 889px;
	display: grid;
	grid-template-columns: 86px 146px 238px 238px;
	grid-template-rows: 1fr 1fr 256px;
	gap: 15px 15px;
	grid-auto-flow: row;
	grid-template-areas:
		"base-stats skills-col health-equips feats-rp-traits-box"
		"base-stats skills-col health-equips feats-rp-traits-box"
		"other-profs other-profs health-equips feats-rp-traits-box";
}

.other-profs {
	grid-area: other-profs;
}

.base-stats {
	grid-area: base-stats;
	border-radius: 10px;
	background: grey;
}

.skills-col {
	grid-area: skills-col;
}

.health-equips {
	grid-area: health-equips;
}

.feats-rp-traits-box {
	grid-area: feats-rp-traits-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.csPageOneMain div ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

/* CS BASE STATS COLUMN */

.base-stats > ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 11px;
}

.base-stats > ul > li {
	border: solid black 2px;
	border-radius: 5px;
	background: white;
	width: 72px;
	height: 86px;
	align-self: center;
}

.base-stats > ul > li > label {
	font-weight: bold;
	font-size: 11px;
	font-variant: small-caps;
	height: 16px;
}

.base-stats > ul > li > input {
	text-align: center;
	font-weight: bold;
}

.stat {
	width: 50px;
	height: 34px;
	font-size: xx-large;
}

.stat-mod {
	width: 30px;
	height: 14px;
	border-radius: 45%;
}

/* CS SAVES/SKILLS COLUMN */

.insp-box,
.prof-box,
.pass-per-box {
	font-variant: small-caps;
	display: flex;
	font-weight: bold;
	font-size: 12px;
	align-content: center;
	border: solid black 2px;
	border-radius: 5px;
}

.insp-box,
.pass-per-box {
	margin-top: 12px;
	margin-bottom: 10px;
}

#insp,
#prof {
	width: 20px;
	height: 20px;
}

#prof {
	border: 0;
	padding: 0;
	margin: 3px 3px 3px 4px;
	text-align: center;
}

.insp-box label,
.prof-box label,
.pass-per-box {
	align-self: center;
	text-align: center;
}

.saves ul,
.skills ul {
	display: flex;
	flex-direction: column;
	align-items: start;
	border: solid black 2px;
	border-radius: 5px;
}

.saves ul > label,
.skills ul > label {
	font-variant: small-caps;
	font-weight: bold;
	align-self: center;
	font-size: 14px;
	margin-top: 2px;
}

.saves li,
.skills li {
	margin-right: 2px;
	display: flex;
}

.saves input.prof,
.skills input.prof {
	width: 15px;
}

.saves input.skill-mod,
.skills input.skill-mod {
	width: 16px;
	height: 11px;
	text-align: center;
	font-size: x-small;
	border: 0;
	margin-top: 3px;
}

.saves label,
.skills label {
	font-size: 11px;
	margin-left: 5px;
}

.skills li > label > span {
	color: red;
}

/* CS OTHER PROFS */

.pass-per-box {
	height: 34px;
	display: flex;
	align-items: center;
}

.pass-per-box input {
	width: 23px;
	height: 23px;
	margin-left: 5px;
	text-align: center;
}

.pass-per-box label {
	font-size: 14px;
	margin-left: 5px;
}

.other-profs-text-box {
	border: solid black 2px;
	border-radius: 5px;
	padding-top: 1px;
}

.other-profs-text-box textarea {
	border-radius: 5px;
	width: 226px;
	height: 145px;
	margin-top: 5px;
}

.other-profs-text-box label {
	font-variant: small-caps;
	font-weight: bold;
	align-self: center;
	font-size: 14px;
	height: 10px;
}

/* CS HEALTH AND EQUIPMENT */
/* CS MID COLUMN HP BOX */

.health-box {
	height: 297px;
	background: grey;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	border-radius: 10px;
}

.health-box .top-line {
	display: flex;
	gap: 7px;
	margin-top: 8px;
}

.top-line > li {
	width: 66px;
	height: 66px;
	border: solid black 2px;
	border-radius: 5px;
	background: white;
}

.top-line > li > input {
	width: 56px;
	height: 45px;
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
	margin-top: 1px;
	border-radius: 5px;
}

.top-line > li > label {
	width: fit-content;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 12px;
	display: flex;
	margin: auto;
	line-height: 0.8;
}

.armour-class-box {
	border-radius: 50% 50% 50% 50% / 10% 10% 95% 95% !important;
}

#armour-class {
	margin-top: 2px;
	width: 40px;
	height: 32px;
}

.hp-box {
	width: 220px;
	height: 90px;
	background: white;
	border: solid black 2px;
	border-radius: 5px;
	align-self: center;

	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.hp-max-label {
	width: 65px;
	font-size: 10px;
	color: rgb(158, 158, 158);
	margin-left: 7.5px;
	line-height: 2.1;
}

#hp-max {
	height: 13px;
	width: 129px;
	margin-left: auto;
	margin-right: 7.5px;
	margin-top: 2px;
	border-radius: 5px;
	font-size: 12px;
}

#current-hp {
	width: 197px;
	height: 41px;
	margin: auto;
	margin-top: 2px;
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
	border-radius: 5px;
}

.current-hp-label {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 12px;
	margin: auto;
	margin-bottom: 5px;
	line-height: 0.9;
}

.flex {
	display: flex;
	gap: 5px;
	margin: auto;
}

.flex-no-margin {
	display: flex;
	gap: 5px;
}

.hit-dice,
.death-saves {
	width: 102px;
	height: 65px;
	background: white;
	border: solid black 2px;
	border-radius: 5px;
}

.hit-dice {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.hit-dice-total-label {
	width: 20px;
	height: 11px;
	font-size: 10px;
	color: rgb(158, 158, 158);
	margin-left: 5px;
	line-height: 2;
}

#hit-dice-total {
	height: 11px;
	width: 60px;
	margin-left: auto;
	margin-right: 5px;
	margin-top: 2px;
	border-radius: 5px;
	font-size: 12px;
}

#hit-dice {
	width: 84px;
	height: 25px;
	margin: 2px 5px 0px 5px;
	text-align: center;
	font-size: x-large;
	border-radius: 5px;
}

.hit-dice-label,
.death-saves-label {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 12px;
	margin: auto;
	margin-bottom: 2px;
	line-height: 0.8;
}

.death-saves {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.success-label,
.failure-label {
	font-size: 12px;
	text-align: end;
	font-variant: small-caps;
	margin-left: 2px;
	width: 45px;
	line-height: 0.9;
}

.success-label {
	margin-top: 5px;
}

#success,
#failure {
	margin: 0 0 0 4px;
}

#success {
	margin-top: 5px !important;
}

/* CS MID COLUMN ATK BOX */

.atk-box {
	display: grid;
	grid-template-columns: 80px 40px 80px;
	grid-template-rows: 10px repeat(3, 20px) 183px 13px;
	gap: 5px 5px;
	grid-auto-flow: row;
	grid-template-areas:
		"weapon-name weapon-bonus weapon-dmg"
		"weapon-1-name weapon-1-bonus weapon-1-dmg"
		"weapon-2-name weapon-2-bonus weapon-2-dmg"
		"weapon-3-name weapon-3-bonus weapon-3-dmg"
		"weapon-full-desc weapon-full-desc weapon-full-desc"
		"atk-box-label atk-box-label atk-box-label";
}

.weapon-name {
	grid-area: weapon-name;
}

.weapon-bonus {
	grid-area: weapon-bonus;
}

.weapon-dmg {
	grid-area: weapon-dmg;
}

.weapon-1-name {
	grid-area: weapon-1-name;
}

.weapon-2-name {
	grid-area: weapon-2-name;
}

.weapon-3-name {
	grid-area: weapon-3-name;
}

.weapon-1-bonus {
	grid-area: weapon-1-bonus;
}

.weapon-2-bonus {
	grid-area: weapon-2-bonus;
}

.weapon-3-bonus {
	grid-area: weapon-3-bonus;
}

.weapon-1-dmg {
	grid-area: weapon-1-dmg;
}

.weapon-2-dmg {
	grid-area: weapon-2-dmg;
}

.weapon-3-dmg {
	grid-area: weapon-3-dmg;
}

.weapon-full-desc {
	grid-area: weapon-full-desc;
}

.atk-box-label {
	grid-area: atk-box-label;
}

.weapon-labels {
	font-variant: small-caps;
	font-size: 12px;
	color: rgb(158, 158, 158);
}

.atk-box > input,
.atk-box > textarea {
	border-radius: 5px;
}

.atk-box-label {
	font-variant: small-caps;
	font-weight: bold;
	align-self: center;
	font-size: 14px;
	padding-top: 2px;
	margin-bottom: 1px;
}

.atk-box {
	height: 295px;
	border: solid black 2px;
	padding-left: 12px;
	margin-bottom: 5px;
	border-radius: 5px;
}

/* CS MID COLUMN EQUIPS BOX */

.equips-box {
	height: 269px;
	border: solid black 2px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.equips-container {
	display: flex;
	gap: 5px;
	height: 249px;
}

.equips {
	width: 156px;
	margin: 5px 5px 5px 0;
	border-radius: 5px;
	height: 238px;
}

.currency {
	width: 60px;
	display: flex;
	flex-direction: column;
	/* background: grey; */
	height: 175px;
	justify-content: space-between;
}

.equips-box-label {
	font-variant: small-caps;
	font-weight: bold;
	align-self: center;
	font-size: 14px;
}

.currency > div {
	display: flex;
	border: solid black 1px;
	border-radius: 5px;
	margin: 4px;
	width: 55px;
	height: 23px;
}

.currency input {
	width: 29px;
	border: 2px inset white;
	border-radius: 5px;
}

.currency label {
	font-size: 14px;
	font-variant: small-caps;
	margin-left: 2px;
	margin-right: 2px;
}

.rp-traits-box {
	width: 238px;
	height: 297px;
	background: grey;
	border-radius: 10px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
}

.pers-traits {
	margin-top: 5px;
	width: 220px;
	height: 75px;
}

.ideals,
.bonds,
.flaws,
.pers-traits {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ideals textarea,
.bonds textarea,
.flaws textarea,
.pers-traits textarea {
	width: 205px;
	border-radius: 5px;
	margin-top: 5px;
}

.ideals textarea,
.bonds textarea,
.flaws textarea {
	height: 45px;
}

.pers-traits textarea {
	height: 50px;
}

.ideals label,
.bonds label,
.flaws label,
.pers-traits label {
	font-size: 11px;
	font-variant: small-caps;
	line-height: 1.1;
}

.ideals,
.bonds,
.flaws {
	width: 220px;
	height: 60px;
}

.rp-traits-box > div {
	border: solid black 2px;
	border-radius: 5px;
}

.feats-box {
	width: 234px;
	height: 573px;
	border: solid black 2px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#feats {
	width: 214px;
	height: 543px;
	border-radius: 5px;
	margin-top: 5px;
}

.feats-box > label {
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}
