#root {
	padding: 2rem;
	text-align: center;
}

/* CHARACTER SHEET */

.sheet {
	background: white;
	color: black;
	max-width: 816px;
	height: 1056px;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 34px;
}

/* CS HEADER */
.csHeader {
	width: 753px;
	height: 72px;
	display: flex;
	justify-content: space-between;
	font-variant: small-caps;
	/* background: grey; */
	border-radius: 5px;
}

.name-box {
	width: 259px;
	height: 69px;
	border: solid black 2px;
	/* background: white; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
}

.name-box input {
	align-self: center;
	width: 220px;
	height: 26px;
	font-size: x-large;
}

.name-box label {
	align-self: start;
	line-height: 0.5;
	padding-left: 16px;
}

.char-info {
	width: 367px;
	height: 69px;
	border: solid black 2px;
	/* background: white; */
	border-radius: 5px;
}

.char-info ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	padding: 0;
	margin: 2px 3px 2px 3px;
	gap: 3px;
	justify-content: center;
}

.char-info li {
	display: flex;
	flex-direction: column;
}

.char-info input {
	width: 110px;
	height: 16px;
}

.char-info label {
	height: 10px;
	font-size: 12px;
	align-self: start;
	line-height: 0.5;
}

/* CS PAGE ONE MAIN*/

.csPageOneMain {
	margin-top: 11px;
	height: 889px;
	display: grid;
	grid-template-columns: 86px 146px 238px 238px;
	grid-template-rows: 1fr 1fr 256px;
	gap: 15px 15px;
	grid-auto-flow: row;
	grid-template-areas:
		"base-stats skills-col health-equips rp-traits"
		"base-stats skills-col health-equips rp-traits"
		"other-profs other-profs health-equips rp-traits";
}

.other-profs {
	grid-area: other-profs;
}

.base-stats {
	grid-area: base-stats;
	border-radius: 10px;
	background: grey;
}

.skills-col {
	grid-area: skills-col;
}

.health-equips {
	grid-area: health-equips;
	/* border: solid black 2px; */
}

.rp-traits {
	grid-area: rp-traits;
	border: solid black 2px;
}

.csPageOneMain div ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

/* CS BASE STATS COLUMN */

.base-stats > ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 11px;
}

.base-stats > ul > li {
	border: solid black 2px;
	border-radius: 5px;
	background: white;
	width: 72px;
	height: 86px;
	align-self: center;
}

.base-stats > ul > li > label {
	font-weight: bold;
	font-size: 11px;
	font-variant: small-caps;
	height: 16px;
}

.base-stats > ul > li > input {
	text-align: center;
	font-weight: bold;
}

.stat {
	width: 50px;
	height: 34px;
	font-size: xx-large;
}

.stat-mod {
	width: 30px;
	height: 14px;
	border-radius: 45%;
}

/* CS SAVES/SKILLS COLUMN */

.insp-box,
.prof-box,
.pass-per-box {
	font-variant: small-caps;
	display: flex;
	font-weight: bold;
	font-size: 12px;
	align-content: center;
	border: solid black 2px;
	border-radius: 5px;
}

.insp-box,
.pass-per-box {
	margin-top: 12px;
	margin-bottom: 10px;
}

#insp,
#prof {
	width: 20px;
	height: 20px;
}

#prof {
	border: 0;
	padding: 0;
	margin: 3px 3px 3px 4px;
	text-align: center;
}

.insp-box label,
.prof-box label,
.pass-per-box {
	align-self: center;
	text-align: center;
}

.saves ul,
.skills ul {
	display: flex;
	flex-direction: column;
	align-items: start;
	border: solid black 2px;
	border-radius: 5px;
}

.saves ul > label,
.skills ul > label {
	font-variant: small-caps;
	font-weight: bold;
	align-self: center;
	font-size: 14px;
	margin-top: 2px;
}

.saves li,
.skills li {
	margin-right: 2px;
	display: flex;
}

.saves input.prof,
.skills input.prof {
	width: 15px;
}

.saves input.skill-mod,
.skills input.skill-mod {
	width: 16px;
	height: 11px;
	text-align: center;
	font-size: x-small;
	border: 0;
	margin-top: 3px;
}

.saves label,
.skills label {
	font-size: 11px;
	margin-left: 5px;
}

.skills li > label > span {
	color: red;
}

/* CS OTHER PROFS */

.pass-per-box {
	height: 34px;
	display: flex;
	align-items: center;
}

.pass-per-box input {
	width: 23px;
	height: 23px;
	margin-left: 5px;
}

.pass-per-box label {
	font-size: 14px;
	margin-left: 5px;
}

.other-profs-text-box {
	border: solid black 2px;
	border-radius: 5px;
	padding-top: 1px;
}

.other-profs-text-box textarea {
	border-radius: 5px;
}

.other-profs-text-box label {
	font-variant: small-caps;
	font-weight: bold;
	align-self: center;
	font-size: 14px;
	height: 10px;
}

/* CS HEALTH AND EQUIPMENT */
/* CS MID COLUMN HP BOX */

.health-box {
	height: 297px;
	background: grey;
	display: flex;
	flex-direction: column;
}

.atk-box {
	height: 301px;
	border: solid black 2px;
	padding-left: 12px;
}

.health-box,
.atk-box {
	margin-bottom: 5px;
	border-radius: 10px;
}

.equips-box {
	height: 259px;
	border: solid black 2px;
	border-radius: 5px;
}

.health-box .top-line {
	display: flex;
	gap: 7px;
	margin-top: 8px;
}

.top-line > li {
	width: 66px;
	height: 66px;
	border: solid black 2px;
	border-radius: 5px;
	background: white;
}

.top-line > li > input {
	width: 56px;
	height: 45px;
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
	margin-top: 1px;
	border-radius: 5px;
}

.top-line > li > label {
	width: fit-content;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 12px;
	display: flex;
	margin: auto;
	line-height: 0.8;
}

.armour-class-box {
	border-radius: 50% 50% 50% 50% / 10% 10% 95% 95% !important;
}

#armour-class {
	margin-top: 2px;
	width: 40px;
	height: 32px;
}

.hp-box {
	width: 220px;
	height: 90px;
	background: white;
	border: solid black 2px;
	border-radius: 5px;
	align-self: center;

	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.hp-max-label {
	width: 65px;
	font-size: 10px;
	color: rgb(158, 158, 158);
	margin-left: 7.5px;
	line-height: 2.1;
}

#hp-max {
	height: 13px;
	width: 129px;
	margin-left: auto;
	margin-right: 7.5px;
	margin-top: 2px;
	border-radius: 5px;
	font-size: 12px;
}

#current-hp {
	width: 197px;
	height: 41px;
	margin: auto;
	margin-top: 2px;
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
	border-radius: 5px;
}

.current-hp-label {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 12px;
	margin: auto;
	margin-bottom: 5px;
	line-height: 0.9;
}

.flex {
	display: flex;
	gap: 5px;
	margin: auto;
}

.hit-dice,
.death-saves {
	width: 102px;
	height: 65px;
	background: white;
	border: solid black 2px;
	border-radius: 5px;
}

.hit-dice {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.hit-dice-total-label {
	width: 20px;
	height: 11px;
	font-size: 10px;
	color: rgb(158, 158, 158);
	margin-left: 5px;
	line-height: 2;
}

#hit-dice-total {
	height: 11px;
	width: 60px;
	margin-left: auto;
	margin-right: 5px;
	margin-top: 2px;
	border-radius: 5px;
	font-size: 12px;
}

#hit-dice {
	width: 84px;
	height: 25px;
	margin: 2px 5px 0px 5px;
	text-align: center;
	font-size: x-large;
	border-radius: 5px;
}

.hit-dice-label,
.death-saves-label {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 12px;
	margin: auto;
	margin-bottom: 2px;
	line-height: 0.8;
}

.death-saves {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.success-label,
.failure-label {
	font-size: 12px;
	text-align: end;
	font-variant: small-caps;
	margin-left: 2px;
	width: 45px;
	line-height: 0.9;
}

.success-label {
	margin-top: 5px;
}

#success,
#failure {
	margin: 0 0 0 4px;
}

#success {
	margin-top: 5px !important;
}

/* CS MID COLUMN ATK BOX */

.atk-box {
	display: grid;
	grid-template-columns: 80px 40px 80px;
	grid-template-rows: 10px repeat(3, 20px) 188px 13px;
	gap: 5px 5px;
	grid-auto-flow: row;
	grid-template-areas:
		"weapon-name weapon-bonus weapon-dmg"
		"weapon-1-name weapon-1-bonus weapon-1-dmg"
		"weapon-2-name weapon-2-bonus weapon-2-dmg"
		"weapon-3-name weapon-3-bonus weapon-3-dmg"
		"weapon-full-desc weapon-full-desc weapon-full-desc"
		"atk-box-label atk-box-label atk-box-label";
}

.weapon-name {
	grid-area: weapon-name;
}

.weapon-bonus {
	grid-area: weapon-bonus;
}

.weapon-dmg {
	grid-area: weapon-dmg;
}

.weapon-1-name {
	grid-area: weapon-1-name;
}

.weapon-2-name {
	grid-area: weapon-2-name;
}

.weapon-3-name {
	grid-area: weapon-3-name;
}

.weapon-1-bonus {
	grid-area: weapon-1-bonus;
}

.weapon-2-bonus {
	grid-area: weapon-2-bonus;
}

.weapon-3-bonus {
	grid-area: weapon-3-bonus;
}

.weapon-1-dmg {
	grid-area: weapon-1-dmg;
}

.weapon-2-dmg {
	grid-area: weapon-2-dmg;
}

.weapon-3-dmg {
	grid-area: weapon-3-dmg;
}

.weapon-full-desc {
	grid-area: weapon-full-desc;
}

.atk-box-label {
	grid-area: atk-box-label;
}

.weapon-labels {
	font-variant: small-caps;
	font-size: 12px;
	color: rgb(158, 158, 158);
}

.atk-box > input,
.atk-box > textarea {
	border-radius: 5px;
}
